.modal {
  position: absolute;
  left: 30%;
  right: 30%;
  top: 20%;
  bottom: 60%;
  background-color: #fff;
  box-shadow: 0 0 10px 0 rgba(0, 0, 97, 0.5);
  overflow: auto;
  border-radius: 4px;
  outline: none;

  .signature-key {
    width: 94%;
    margin: 1rem;
    float: left;

    input {
      margin-left: 0.5rem;
    }
  }
}

form {
  width: 40rem;

  .title {
    font-weight: bold;
    margin-bottom: 2rem;
  }

  .label {
    font-size: 1rem;
  }

  .field {
    margin-bottom: 1rem;
    width: 100%;
  }

  .email {
    font-size: 1rem;
    background-color: #f0f0f0;
    padding: 1rem;
    color: black;
    margin-bottom: 2rem;

    .signature {
      float: right;
    }

    .subject {
      margin-top: 0.5rem;
      font-weight: bold;
    }

    .body {
      white-space: pre-wrap;      /* CSS3 */   
      white-space: -moz-pre-wrap; /* Firefox */    
      white-space: -pre-wrap;     /* Opera <7 */   
      white-space: -o-pre-wrap;   /* Opera 7 */    
      word-wrap: break-word;      /* IE */
    }
  }
}
